<mat-toolbar color="primary" class="app-header">
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Room Kiosk</span>

    <span class="spacer"></span>

    <div class="search-container">
        <mat-form-field appearance="outline" class="search-form-field">
            <mat-label>Search rooms</mat-label>
            <input matInput placeholder="Enter room name, building..." (input)="onSearchInputChange($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User Profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>