<mat-card class="stat-card" [ngClass]="color">
  <div class="stat-card-content">
    <div class="stat-card-value-section">
      <h2 class="stat-value">{{ value }}</h2>
      <p class="stat-title">{{ title }}</p>
      
      <div *ngIf="percentChange !== 0" class="percent-change" 
        [ngClass]="percentChange > 0 ? 'positive' : 'negative'">
        <mat-icon>{{ percentChange > 0 ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
        <span>{{ percentChange | number: '1.1-1' }}%</span>
      </div>
    </div>
    
    <div class="stat-card-icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
  </div>
</mat-card>